{% extends 'main.html' %} 

{% block content %} 

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Forgot Your Password?</h3>
            <br>
            <p>Don't worry</p>
            <p>We'll send you a mail that allows you to change your password</p><br>
            <form class="form" method="POST">
                {% csrf_token %}
                <div class="form__field">
                    {{form.as_p}}
             
                </div>
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>


{% endblock %}