{% extends 'main.html' %}

{% block content %}

<main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit' team.id %}"><i class="im im-edit"></i> Edit</a>
              <img class="avatar avatar--xl dev__avatar" src="{{team.profile_image.url}}" />
              <h2 class="dev__name">{{team.name}}</h2>
              <p class="dev__title">{{team.captain}}</p>
              <p class="dev__location">{{team.short_intro}}</p><br>
              <a href="#" class="btn btn--sub btn--lg">Send Message </a>
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">{{team.name}}팀 명단</h3>
            <p class="devInfo__about">
              팀 명단 나열
            </p>
          </div>
         
          <div class="settings">
            <h3 class="settings__title">결제 내역</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-post' %}"><i class="im im-plus"></i> 추가</a>
          </div>

          <table class="settings__table">
            {% for p in post %}
            <tr>
              <td class="settings__thumbnail">
                <a href="{% url 'view-post' p.id %}"><img src="{{p.image.url}}" alt="Project Thumbnail" /></a>
              </td>
              <td class="settings__tableInfo">
                <a href="{% url 'view-post' p.id %}">{{p.title}}</a>
                <p>
                  {{p.desc}}
                </p>
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'edit-post' p.id %}?next=/account"><i class="im im-edit"></i> Edit</a>
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'delete-post' p.id %}?next=/account"><i class="im im-x-mark-circle-o"></i>
                  Delete</a>
              </td>
            </tr>
            {% endfor %}
            
          </table>
          {% include 'pagination.html' with queries=post page_range=page_range %}
        </div>
      </div>
    </div>
  </main>

  {% endblock %}